{
    "application.fingerprint" : "ruaPQgV6Ss0bzPYV9FG8vsNJdL7m0GZij/VHyjd/mRr822TPNhku0swFThsSc/5Fckf6lg/e7czOHFTd0ilRGA==",
    "application.language" : "zh-CN",
    "application.lockScreenTimeout" : 0,
    "application.masterPassword" : false,
    "filer.hiddenItemsVisible" : true,
    "filer.lastDownloadFolder" : "G:/chrome下载",
    "terminal.askBeforeCloseTab" : false,
    "terminal.askBeforeCloseWindow" : false,
    "terminal.reimportShellSessions" : false,
    "terminal.rightClickAction" : "PasteText",
    "terminal.text.autoCopySelection" : true,
    "xserver.autoStart" : true,
    "xserver.keyhook" : true
}
