[
    {
        "quick.group" : "快速",
        "quick.icon" : "session::tag-coral",
        "quick.label" : "Untitled",
        "quick.type" : "Send Text",
        "quick.uuid" : "dfd5876e-6708-46fa-8bc2-7e81b42ee942"
    },
    {
        "quick.group" : "windterm",
        "quick.icon" : "session::heart-coral",
        "quick.label" : "Untitled",
        "quick.type" : "Send Text",
        "quick.uuid" : "c53ca86b-1d1e-4518-9586-68a46138b6eb"
    }
]
